@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Menlo:wght@700&display=swap');

  
body {
    font-size: 100%;
    color: #33272a;
    padding: 60px 80px 0 80px;
    background-color: #fff;
    margin: 0;
    font-family: 'menlo';

}

a {
    text-decoration: none;
    font-size: 18px;
}

li {
    list-style: none;
}
ul{
    margin: 0;
    padding: 0;
    display: flex;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    gap: auto;
    color: #fff;
    align-items: center;
}

.nav-links a {
    color: #101010;
}

.logo {
    flex: 1;
    width: 80%;
    margin: 0;
    padding: 0;
}
    

/* NAVBAR MENU */
.menu {
    font-size: 25px;
    letter-spacing: 0.16em;
    font-family: 'Menlo';
    display: flex;
    align-items: center;
    flex: 2;
    justify-content: center;
    gap: 20px;
}

.menu a{
    text-decoration: none;
    color: #000;
}

.menu a:hover {
    border-bottom: 1px solid #c036aa;
    color: rgba (236, 214, 196, 0.53);
}

.seta{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0 80px 0;
}
.arrow{
    height: 50px;
}

.aboutMe{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.aboutMe_title{
    margin: 0;
    text-align: center;
    font-size: 60px;
    letter-spacing: 0.03em;
    font-family: 'menlo';
    color: #000;
    padding-top: 10px;
}

.aboutMe_p{
    color: black;
    text-align: center;
    padding-top: 30px;
    font-size: 31px;
    font-family: 'Menlo';
    color: #000;
    margin: 0;
}

.conteudo__principal{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
    padding: 90px 0 60px 0;
}

.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    font-family: 'Menlo';
    gap: 32px;
}
.conteudo-principal-escrito h1{
    font-size: 30px;
    margin: 0;
    letter-spacing: 0.03em;
    color: #000;
}
.gabrielle{
    font-size: 50px;
    margin: 0;
    letter-spacing: 0.03em;
    color: #c036aa;
}

.ux-ui{
    font-size: 80px;
    letter-spacing: 0.03em;
    font-family: 'Menlo';
    color: #000;
    margin: 0;
    font-weight: 800;
}

.texto{
    font-size: 30px;
    letter-spacing: 0.09em;
    font-family: 'Menlo';
    color: #000;
    text-align: center;
    display: flex;
    margin: 0;
}



.conteudo__principal__imagem{
    cursor: pointer;
    display: flex;
    width: 35%;
}

.conteudo__principal__imagem:hover{
    transform: scale(1.1);
}


.conteudo-principal-escrito-subtitulo{
    margin-top: 0px;
    padding-right: 30px;
    font-weight: 500;
    color: black;
    font-size: 1.80rem;
}


.conteudo-principal-escrito-botao{
    border: none;
    font-family: 'Menlo';
    cursor: pointer;
    position: relative;
    border-radius: 11px;
    background-color: #c036aa;
    width: 100%;
    height: 42px;
    text-align: center;
}

.botao-add{
    display: flex;
    gap: 24px;
    align-items: center;
}


.conteudo-principal-escrito-botao:hover{
    color: rgba (236, 214, 196, 0.53);
    border-radius: 20px;
    font-weight: 400px;
    transform: scale(1.1);
}
.escrito-botao h1{
    margin: 0;
    padding: 0;
    font-size: 21px;
    font-family: 'Menlo';
    color: #fff;
    text-align: center;
}

.skills{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 0 0 40px 0;
}

.title__skills{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 64px;
    font-size: 25px;
    letter-spacing: 0.16em;
    font-family: 'Menlo';
    color: #000;
}


.pulsate-bck {
    -webkit-animation: pulsate-bck 0.6s ease-in-out infinite both;
	animation: pulsate-bck 0.6s ease-in-out infinite both;
}

@-webkit-keyframes pulsate-bck {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(0.95);
              transform: scale(0.95);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes pulsate-bck {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(0.95);
              transform: scale(0.95);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
.projects_title {
    display: flex;
    color: black;
    border-top: 0.9px solid #4e77be;
    font-weight: 400;
    font-size: 30px;
    margin-bottom: 0%;
    padding: 80px 0 30px 0;
    text-align: center;
}

.carrossel{
    padding-bottom: 40px;
    margin: 0;
}

.swiper-slide{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding-top: 80px;
}



.project-edit{
    text-align: center;
    color: #101010;
    font-size: 100%;
}

.project-edit-p{
    text-align: center;
    color: aliceblue;
    font-size: 90%;
}

.projeto-img{
    width: 100%;
    border-radius: 10px;
}

.carrossel__titulo{
    margin: 0;
    padding-top: 10px;
    text-align: center;
    font-size: 60px;
    letter-spacing: 0.03em;
    font-family: 'menlo';
    color: #000;
}

footer {
    display: block;
    text-align: center;
    padding: 30px 0 15px 0;
    border-top: 0.6px solid #c036aa;
    font-weight: 400;
    font-size: 15px;
    color: #c036aa;
    text-decoration: none;
    margin: o auto;
    font-family: 'menlo';
}


