@charset "UTF-8";
@import url('https://fonts.cdnfonts.com/css/menlo');

  
body {
    font-size: 100%;
    color: #33272a;
    padding: 60px 80px 0 80px;
    background-color: #fff;
    margin: 0;
    font-family: 'menlo';
}


a {
    text-decoration: none;
    font-size: 18px;
}

.cabecalho {
position: fixed;
background-color: #fff;
width: 100%;
display: flex;
padding: 60px 80px 0 80px;
box-sizing: border-box;
align-items: center;
justify-content: space-between;
font-size: 25px;
color: #000;
font-family: Menlo;
right: 0;
top: 0;
z-index: 999;
}

.logo {
    width: 10%;
}
    
.menu {
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 0.16em;
    display: inline-block;
    gap: 20px;
}

.menu a{
    text-decoration: none;
    color: #000;
}

.menu a:hover {
    border-bottom: 1px solid #c036aa;
    color: rgba (236, 214, 196, 0.53);
}

.seta{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0 80px 0;
}
.arrow{
    height: 50px;
}

.aboutMe{
    align-items: center;
    display: flex;
    flex-direction: column;
}

.aboutMe_title{
    margin: 0;
    text-align: center;
    font-size: 50px;
    letter-spacing: 0.03em;
    color: #000;
    padding-top: 10px;
}

.aboutMe_p{
    color: black;
    text-align: center;
    padding-top: 30px;
    font-size: 31px;
    color: #000;
    margin: 0;
}

.conteudo__principal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    margin: 90px 0 60px 0;
    padding: 90px 0 60px 0;
}

.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.conteudo-principal-escrito h1{
    font-size: 30px;
    margin: 0;
    letter-spacing: 0.03em;
    color: #000;
}
.gabrielle{
    font-size: 50px;
    margin: 0;
    letter-spacing: 0.03em;
    color: #c036aa;
    font-weight: 700;
}

.ux-ui{
    font-size: 70px;
    letter-spacing: 0.03em;
    color: #000;
    margin: 0;
    font-weight: 800;
}

.texto{
    font-size: 30px;
    letter-spacing: 0.09em;
    color: #000;
    text-align: center;
    display: flex;
    margin: 0;
}



.conteudo__principal__imagem{
    cursor: pointer;
    width: 30%;
}

.conteudo__principal__imagem:hover{
    transform: scale(1.1);
}


.skills{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding: 0 0 40px 0;
}

.title__skills{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 64px;
    font-size: 25px;
    letter-spacing: 0.16em;
    color: #000;
}


.pulsate-bck {
    -webkit-animation: pulsate-bck 0.6s ease-in-out infinite both;
	animation: pulsate-bck 0.6s ease-in-out infinite both;
}

@-webkit-keyframes pulsate-bck {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(0.95);
              transform: scale(0.95);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes pulsate-bck {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    50% {
      -webkit-transform: scale(0.95);
              transform: scale(0.95);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  


.carrossel{
    padding-bottom: 40px;
    margin: 0;
}

.swiper-slide{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding-top: 80px;
}


.project-edit{
    text-align: center;
    color: #101010;
    font-size: 100%;
}

.project-edit-p{
    justify-items: center;
    text-align: center;
    color: aliceblue;
    font-size: 90%;
}

.projeto-div{
    display: flex;
    justify-items: center;
    flex-direction: column;
}

.projeto-a-img{
    width: 100%;
}

.projeto-img{
    width: 100%;
    border-radius: 10px;
}

.carrossel__titulo{
    margin: 0;
    padding-top: 10px;
    text-align: center;
    font-size: 50px;
    letter-spacing: 0.03em;
    color: #000;
}

footer {
    display: block;
    text-align: center;
    padding: 30px 0 15px 0;
    border-top: 0.6px solid #c036aa;
    font-weight: 400;
    font-size: 15px;
    color: #c036aa;
    text-decoration: none;
    margin: o auto;
}


