/* APLICAÇÃO MEDIA QUERIES */
@media screen and  (max-width: 800px) {

    body {
        padding: 60px 24px 0 24px;
        background-color: #fff;
    }

    .cabecalho__logo {
        display: flex;
        width: 100%;
        height: 30px;
    }

    .navbar{
        align-items: center;
    }
    .menu { 
        background-color: #f6c9ee;
        display:none;
        left: 24px;
        margin-top: 30px;
        position:absolute;
        right: 24px;
        text-align:center;
        border-radius: 5px;
        font-size: 15px;

    }
    .menu li:hover {
        transition: 0.2s ease;
        font-weight: 500;
        border-bottom: 1px solid #c036aa;
    }    

    .index {
        padding: 30px 30px 0;
    }
    .menu li + li {
        margin: 30px;
    }
    input[type=checkbox]:checked ~ .menu{
        display:block;
    }
    .hamburger {
        display: block;
        color: black;
        width: px;
    }
    .dropdown {
        left: 50%;
        top: 30px;
        transform: translateX(35%);
    }
    .dropdown li:hover {
        background-color: #4c9e9e;
    }

    .linkedin__botao{
        height: 42px;
    }

    .conteudo-principal-escrito-botao{
        border-radius: 11px;
        width: 80%;
        height: 32px;
        text-align: center;
    }
    
    .escrito-botao h1{
        font-size: 15px;
    }
    
    



    .conteudo__principal{
        padding-bottom: 20px;
    }

    .conteudo-principal-escrito{
        display: flex;
        flex-direction: column;
        font-family: 'Menlo';
        gap: 10px;
    }

    .conteudo-principal-escrito h1{
        font-size: 15px;
        font-weight: 600;
    }

    .gabrielle{
        font-size: 17px;
        font-weight: 600;
    }
    
    .ux-ui{
        font-size: 25px;
        font-weight: 800;
    }
    
    .texto{
        font-size: 15px;
        letter-spacing: 0.09em;
    }

    .seta{
        padding: 40px 0 40px 0;
    }

    .arrow{
        height: 40px;
    }

    .aboutMe_title {
        font-size: 23px;
        padding: 10px 0 0 0;
    }

    .aboutMe_p{
        font-size: 15px;
    }

    #html-css{
        width: 20px;
    }

    #figma{
        width: 5%;
        height: 10%;
    }

    #canva{
        width: 25px;
    }

    #photoshop{
        width: 24px;
    }

    #wordpress{
        width: 25px;
    }

    .projects_title {
        font-size: 25px;
        font-weight: 500;
        padding-bottom: 15px;
    }

    .skills{
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        
    }
    
    .title__skills {
        font-size: 17px;
        padding: 30px 0 25px 0;
    }

    .carrossel{
        padding: 0;
    }

    .carrossel__titulo{
        font-size: 23px;
        padding: 0;
    }
    
    .swiper-slide{
        gap: 30px;
        padding: 24px 0 34px 0;
    }
    

    .project-edit{
        font-size: 53%;
    }

    footer{
        margin: 0;
        padding: 15px 0 15px 0;
        font-size: 11px;
    }

    footer p{
        margin: 0;
        padding: 0;

    }
        

        
}




