/* APLICAÇÃO MEDIA QUERIES */
@media screen and  (max-width: 800px) {

    body {
        padding: 30px 24px 0 24px;
        background-color: #fff;
    }
    .cabecalho{
        padding: 30px 24px 0 24px;
    }

    .logo{
        width: 30%;
    }

    .menu { 
        display: none;
    }

    .linkedin-botao{
        width: 80%;
    }    

    .conteudo__principal{
        padding-bottom: 20px;
        padding: 110px 0 40px 0;
        margin: 0;
    
    }

    .conteudo-principal-escrito{
        display: flex;
        flex-direction: column;
        font-family: 'Menlo';
        gap: 10px;
    }

    .conteudo-principal-escrito h1{
        font-size: 15px;
        font-weight: 600;
    }

    .gabrielle{
        font-size: 17px;
        font-weight: 600;
    }
    
    .ux-ui{
        font-size: 25px;
        font-weight: 800;
    }
    
    .texto{
        font-size: 15px;
        letter-spacing: 0.09em;
    }

    .seta{
        padding: 40px 0 40px 0;
    }

    .arrow{
        height: 40px;
    }

    .aboutMe_title {
        font-size: 23px;
        padding: 0;
    }

    .aboutMe_p{
        font-size: 15px;
    }

    #html-css{
        width: 20px;
    }

    #figma{
        width: 5%;
        height: 10%;
    }

    #canva{
        width: 25px;
    }

    #photoshop{
        width: 24px;
    }

    #wordpress{
        width: 25px;
    }

    .projects_title {
        font-size: 25px;
        font-weight: 500;
        padding-bottom: 15px;
    }

    .skills{
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        
    }
    
    .title__skills {
        font-size: 17px;
        padding: 30px 0 25px 0;
    }

    .carrossel{
        padding: 0;
    }

    .carrossel__titulo{
        font-size: 23px;
        padding: 0;
    }
    
    
    .projeto-img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    .projeto-div{
        width: 300px;
        height: 200px;
    }

    
    .swiper-slide{
        flex-direction: column;
        gap: 100px;
        padding: 24px 0 34px 0;
        flex-direction: column;
    }
    

    .project-edit{
        padding: 10px 0 20px 0;
        font-size: 80%;
    }

    footer{
        margin: 0;
        padding: 15px 0 15px 0;
        font-size: 11px;
    }

    footer p{
        margin: 0;
        padding: 0;

    }
        
}




